@use '@/styles/index' as i;

.navLink {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 20px 25px 20px;

  &:hover {
    svg[width="40"] {
      fill: i.$text;
    }
  }
}

.uir,
.dir {
  display: none;
}

.active {
  background-color: var(--background);
  border-radius: 12px 0 0 12px;
  position: relative;


  &::after {
    position: absolute;
    content: '';
    width: 23px;
    height: 100%;
    background-color: var(--background);
    right: -23px;
    top: 0;
  }

  .uir {
    display: block;
    fill: var(--background);
    position: absolute;
    top: -12px;
    right: -25px;
  }

  .dir {
    display: block;
    fill: var(--background);
    position: absolute;
    bottom: -24px;
    right: -25px;
  }
}