// => Colors
$primary-color: #EA7C69;
$secondary-color: #1F1D2B;
$bg-color: #252836;
$text: #fff;
$pink: #FF7CA3;
$light-gray: #ABBBC2;
$dark-gray: #393C49;
$green: #50D1AA;
$dark-green: #6BE2BE3D;
$purple: #9290FE;
$dark-purple: #9290FE33;
$orange: #FFB572;
$dark-orange: #FFB57233;



// => Typography
$barlow: 'Barlow', sans-serif;


// => Window Sizes
$desktop-xl: 1920px;
$desktop-l: 1440px;
$desktop-m: 1200px;
$desktop-s: 1024px;
$tablet-l: 992px;
$tablet-m: 768px;
$tablet-s: 640px;
$mobile-l: 576px;
$mobile-m: 480px;
$mobile-s: 320px;